# Token Name
MAINNET_TOKEN_NAME_NETWORK=Etherem
GOERLI_TOKEN_NAME_NETWORK=Etherem
XDAI_TOKEN_NAME_NETWORK=Gnosis Chain
SOKOL_TOKEN_NAME_NETWORK=POA Network Testnet
POLYGON_TOKEN_NAME_NETWORK=Matic Network
MUMBAI_TOKEN_NAME_NETWORK=Matic Network
